html {
    /*Set overall width, including border*/
    box-sizing: border-box;
    font-family: Raleway, Times New Roman, sans-serif;
}

body{
    padding-top: 70px; /*Matches Navbar height*/
}

a {
    margin: 0px 2.5px;
    /*remove blue text and underline from anchor*/
    text-decoration: none;
}

a span{
    color:blue;
}

.navbar.scrolled{
    background: white;
    transition: background 550ms;
}

.nav-link.active{
    transition: color 225ms ease-in-out;
}

.nav-link.active:hover,
.nav-link.active:focus {
    color: aquamarine;
}

#loc {
    width: 300px;
    height: 25px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 100px;
}

h2 {
    color: mediumturquoise;
}

button {
    /*border style*/
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    border-radius: 15px;
    /*font color*/
    color: teal;

    padding: 7.5px 7.5px;
    transition: background-color 200ms ease-in-out;

}

button:hover,
button:focus {
    background-color: aquamarine;
}

form {
    letter-spacing: -0.5px;
}

p {
    color: mediumaquamarine;
    line-height: 1.75;
    letter-spacing: 0.5px;
}

body {
    background-color: gray;
}