.layout-content{
  padding: 0;
  margin: 0;
  
}

.homepageTitle{
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.hero-section {
  position: relative;
  /* text-align: center; */
  padding: 0px 40px;
  /* background-color: #f5f5f5; */
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.hero-section span{
  color: #313131;
  line-height: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.homepageContent .map-container {
  margin-top: 62.5px; 
  /* margin: 40px auto; */
  width: 60%; 
  /* max-width: 1000px; */
   height: 100%;
  /*margin-bottom: 5%; Add space for footer */
}

.homepageContent .map-container #map{
  height: 100vh;

}
  
.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
  padding: 40px 20px; /* More padding to give breathing room between elements
  margin: 0 auto;
  width: 90%;
  /* max-width: 5000px; */
}

.homepageContent{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-content: center;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.searchbar-container{
  width: 110%;
  margin-left: -21px;
}

