* {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: sticky; /* Makes the navbar stick to the top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0; /* Specifies how far from the top the navbar should stick */
  z-index: 1000; /* Ensures it stays above other elements */
  background-color: #3D405B; /* Optional: Reinforce background color in case of transparency */
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Vibrant gradient */
  color: white; /* Text color for better contrast */
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  height: 82px;
}

  
.navbar-links {
  display: flex;
  gap: 20px;
  padding-top: 12px;
}

  
.navbar-links li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  transition: color 0.3s ease;
  position: relative;
}
  
.navbar-links li:hover,
.navbar-links li.active {
  color: #ff4b2b;
  /* font-size: 25px;
  transform: translateY(+2px);  */
}
  
.navbar-actions {
  display: flex;
  gap: 25px;
  height:30px;
}

.navbar-actions button#active{
  background-color: #ff4b2b;
  color: white;
}


#appName {
  font-size: .8rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar-logo {
  transition: 0.3s ease;
  font-size: 24px;
  font-weight: bold;
  color: #ff4b2b;
  cursor: pointer;
}

.navbar-logo:hover {
  color: #ff6b3a; 
  transition: 0.3s ease;
  transform: scale(1.15);
}
.navbar-button {
  margin-top: -8px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #ff4b2b;
  border: 2px solid #ff4b2b;
  border-radius: 4px; 
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height:45px;
}
.navbar-button:hover {
  background-color: #ff4b2b;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); 
}

.login-button {
  width: 200px;
}

.profile-button {
  width: 150px;
}

#logout-button{
  width: 130px;
}

#homePageLogo {
  height: auto;
  width: 73px;
}
 
@media (max-width: 768px) {

  .navbar-links li {
    font-size: 18px; /* Smaller font size */
  }
  .navbar-button {
    font-size: 18px; /* Smaller font size */
  }
  
  .profile-button {
    font-size: 16px;
    width: 130px;
  }
  
  #logout-button{
    font-size: 16px;
    width: 110px;
  }
}

@media (max-width: 661px) {

  .navbar-links li {
    font-size: 12px; /* Smaller font size */
  }
  .navbar-button {
    font-size: 12px; /* Smaller font size */
  }

  .login-button {
    font-size: 14px;
    width: 145px;
  }
  
  .profile-button {
    font-size: 14px;
    width: 110px;
  }
  
  #logout-button{
    font-size: 14px;
    width: 100px;
  }
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px; /* Match the navbar height */
    left: 0;
    width: 100%;
    background-color: #3D405B;
    padding: 10px;
    padding-bottom: 20px;
  }

  .navbar-links.open {
    display: flex;
    align-items: flex-start;
  }

  .navbar-actions {
    padding-top: 5px;
  }

  .login-button{
    font-size: 15px;
  }
}


.navbar.scrolled {
  background-color: #ffe0dc; /* Light pink variation */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon-container {
  position: relative;
  display: inline-block;
}


.icon-line {
  display: block;
  font-size: 25px;
  margin-right: 10px;
}

.icon-fill {
  display: none;
  font-size: 25px;
  margin-right: 10px;
}

.navbar-links li:hover .icon-line,
.navbar-links li.active .icon-line{
  display: none;
}

.navbar-links li:hover .icon-fill,
.navbar-links li.active .icon-fill {
  display: block;
}

.navbar-button .icon-line {
  font-size: 22px;
  margin-right: 10px;
}    

.navbar-button .icon-fill {
  font-size: 22px;
  margin-right: 10px;
}    

.navbar-button:hover .icon-line,
.navbar-actions button#active .icon-line {
  display: none;
}

.navbar-button:hover .icon-fill,
.navbar-actions button#active .icon-fill {
  display: block;
}

/* #team {
  font-size: 18px;
  font-weight: 500;
} */