#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    margin-top: 5%;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.view-more-button {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
}