#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    margin-top: 5%;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}