<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Restaurant</title>
</head>
<body>
    <h1>Edit Restaurant</h1>
    <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="restaurant[name]" value="<%= restaurant.name %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="restaurant[location]" value="<%= restaurant.location %>">
            <button>Update Restaurant</button>
        </div>
    </form>
    <a href="/restaurants/<%= restaurant._id %>">Back To Restaurants</a>
</body>
</html>