<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>

<body>
    <h1>All Restaurants</h1>
    <div>
        <a href="/restaurants/new">Add Restaurant</a>
    </div>
    <ul>
        <% for (let restaurant of restaurants){%>
            <li>
                <a href="/restaurants/<%= restaurant._id %>">
                    <%= restaurant.name %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>