<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Restaurant</title>
</head>

<body>
    <form action="/restaurants" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="restaurant[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="restaurant[location]">
            <button>Add Restaurant</button>
        </div>
    </form>
    <a href="/restaurants">All Restaurants</a>
</body>

</html>