<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1>
        <%= restaurant.name %>
    </h1>
    <h2>
        <%= restaurant.location%>
    </h2>
    <p>
        <a href="/restaurants/<%= restaurant._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/restaurants/<%= restaurant._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/restaurants">All Restaurants</a>
    </footer>
</body>

</html>